/* make the customizations */
$primary: #cce1e5;
$secondary: #b18bd0;

$link-color: $primary;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Righteous&family=Rubik&display=swap');

body { 
    font-family: 'Eczar', serif;
    font-family: 'Righteous', cursive;
    font-family: 'Rubik', sans-serif;
    background-color:tan;

}
 h1 {
    color:#17a2b8
 }    
 h2, h3 {
    color: $primary;
}

img {
    align-content: center;
    display: flex-wrap;
    flex-direction: column;
    border-radius: 15px;
    height: 250px;
    Width: 200px
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight:bold;
    color:beige;
    cursor: pointer;
}

.navbar {
    background-color: mintcream;
    padding: 15px;
    display: flex;
    margin: 0;
    border-color:aliceblue


}

.homePage {
    background-color:mintcream ;
    padding: 15px;
    text-align: center;
    border-color:beige
}

body {
    background-color: slategray;
    color:silver
}

a:hover {
    color:green
    
   
   
}

