/* make the customizations */
$primary: slategray;
$secondary: #b18bd0;

$link-color: $primary; 
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

/* import bootstrap to set changes */
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Righteous&family=Rubik&display=swap');

body { 
    font-family:'Times New Roman', Times, serif;
    font-family: 'Righteous', cursive;
    font-family:Arial, Helvetica, sans-serif;
    

}
 h1,h2 {
     color:#36533d;

 }    
h3{
    color: whitesmoke
} 


img {
    align-content: center;
    display: flex-wrap;
    flex-direction: column;
    border-radius: 15px;
    height: 260px;
     width: 200px
}

.products {
    display: flex;
    flex-wrap: wrap;
//    justify-content: space-between;
    font-weight:bold;
    color:beige;
    padding: 50px;
    margin-top: 20px;
    gap: 30px;
    cursor: pointer;
}

.navbar {
    background-color: silver;
    padding: 1px;
    display: flex;
    
 


}

.homePage {
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:silver;
    padding: 15px;
    text-align: center;
    border-color:beige
}

body {
    background-color: slategray;
    
}

a:hover {
    color:green
    
   
   
}

hr {
    color:rgb(62, 100, 72);
    border-color: black;
    margin: 2px
   
}

.form {
    
    //margin: 0% auto;
    padding: 15px;
    border: 15px;
    gap :5px;
//    margin-left: 50%
}

.register {
    margin-top: 5%;
    margin-left: 50%
}
.loginPage {
    margin-top: 5%;
    margin-left: 50%
}
.SingleProduct { 
    // display: flex;
   display:inline-block;
    margin-left: 50%;
    margin-top: 5%;
    border: 10px solid silver;
    padding: 50px;
    border-radius: 50px 10px;
    box-shadow: 10px 5px 5px rgb(39, 38, 38);
    // flex-direction: column;
    // justify-content: center;
    
}

.SingleProduct > h1 {
font-style:italic; 
text-decoration:underline
}

.SingleProduct > div > p {
    color: white;
}


.logo {
    width: 12%;
    height: 12%;
    margin-left: 0%;
    border-radius: 90%;
    text-align:left;
    box-shadow: 0px 10px 10px  rgb(55, 70, 54);
    margin-right: 18%
}


.registerLink{
    
        a:link { color:silver; }
        a:visited { color: silver; }
        a:hover { color: #36533d; }
        a:active { color: #36533d; }
        
}

.confirm{
    
    a:link { color:silver; }
    a:visited { color: silver; }
    a:hover { color: #36533d; }
    a:active { color: #36533d; }
    
}

.Profile{
    display:inline-block;
    margin-left: 50%;
    margin-top: 5%;
    border: 10px solid silver;
    padding: 50px;
    border-radius: 50px 10px;
}
 
.Admin{
    display:inline-block;
    margin-left: 50%;
    margin-top: 5%;
    border: 5px solid silver;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 50px;

}
 .usersadmin{
    border: 2px solid silver;
 }
